.login {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.login-form {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
.banner-login {
    width: 50%;
    height: 100%;
    background-color: #32435E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-login img {
    position: relative;
    bottom: 40px;
}

.banner-login h2 {
    
    color: #fff;
    position: relative;
    bottom: 40px;
}

.login-form-first {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form-first #Singin {
    width: 100%;
    background-color: #32435E;
    border: none;
    margin-top: 5px;
}

.login-form-first #Singin:hover {
    
    border: none;
    color: #fff;
    transform: scale(1.10);
    transition: .2s;

}
.login-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 0;
}

@media screen and (max-width: 1680px) {
    .banner-login {
        width: 50%;
        padding: 0 2%;
    }

    .banner-login img {
        max-width: 400px;
    }
    
}

@media screen and (max-width: 980px) {

    .banner-login {
        display: none;
    }
    .login-form {
        width: 100%;
    }
}