<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">

    <title>About Us</title>
</head>

<body>
    <div class="aboutus-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Computer.io</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="sobrenos.html">About Us</a>
                    <a class="nav-link" href="products.html">Products</a>
                    <a class="nav-link" href="contact.html">Contact</a>
                </nav>
        </header>
        <main role="main" class="inner cover">
            <h1 class="aboutus-text display-4">About Us</h1>
            <p class="lead">
                Our company seeks to change the way you use your work tools, creating an appropriate and simplified
                environment for you to achieve the desired result. Operating in the market since 2014, we seek to help
                developers to use a space where they have support, storage, help center access and also create a
                dashboard, where they can, together with a team, make available, modify, send and systematize projects.
                Therefore, we seek to provide you with a favorable and systematic environment.
            </p>
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p id="products-p">Site available
                    <a class="sobrenosa-text" href="https://github.com/AlexandreColins">Git Hub</a>, by
                    <a class="sobrenosa-text" href="https://www.linkedin.com/in/alexandre-colins-2946481a1/">@AlexandreColins</a>.
                </p>
            </div>
        </footer>
    </div>


    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>